<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 16px;
    line-height: 21px;
  }

</style>

<div class="messsage-content">
  <p>Olá, {{apelido}}</p>
  <p>Recebemos um pedido para troca de senha.</p>
  <p>Abaixo segue sua senha temporária, você pode se logar por ela.</p>
  <i>Caso não foi você quem solicitou, não se preocupe, essa senha vai espirar em breve.</i>
  <br />
  <p>Sua senha temporária é <strong>{{senha-temporaria}}</strong></p>
</div>
